.container {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  background-color: #ffda57;
  flex-direction: row;
}

.left-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}

.btn-container {
  display: flex;
  align-items: center; /* Vertically center the button */
  height: 30%;
  padding: 0;
}

.create-order-btn {
  display: block;
  width: 20%; /* Adjusted width percentage */
  background-color: #ffda57;
  color: #9e8118;
  border: none;
  border-radius: 20px;
  margin-top: 6.25em; /* Replaced "100px" with "6.25em" */
  box-shadow: inset 0 -0.5625em 0.625em -0.625em #000000; /* Replaced "9px" with "0.5625em" and "10px" with "0.625em" */
  font-size: 1em; /* Replaced "16px" with "1em" */
  font-weight: bold;
  margin-left: 3%;
}

.create-order-btn:hover {
  background-color: #2980b9;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
}

.box {
  width: calc(33.33% - 2em); /* Replaced "20px" with "2em" */
  background-color: #ffda57;
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.2); /* Replaced "5px" with "0.5em" */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9e8118;
}

.right-container {
  display: flex;
  background-color: #ffda57;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  overflow-y: auto;
}

.search-box {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  width: 60%;
  padding: 1.875em 0; /* Replaced "15px" with "1.875em" */
  border: solid;
  border-color: #c0c0c0;
  margin-left: 3%;
}

.sub-container {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.25em; /* Replaced "10px" with "1.25em" */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15em; /* Replaced "200px" with "15em" */
  margin-left: 3%;
  margin-right: 3%;
}

.sub-container.bordered {
  border: 0.125em solid black; /* Replaced "2px" with "0.125em" */
}

.start-container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-container {
  width: 20%;
}

.mid-container {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.order-details {
  background-color: white;
  border: solid;
  border-color: #e6e6e6;
  width: 100%;
  height: 80%;
  margin-top: 5%;
  overflow-y: auto;
}

i {
  margin-top: 0.9375em; /* Replaced "15px" with "0.9375em" */
  -webkit-text-stroke: 0.125em black; /* Replaced "2px" with "0.125em" */
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.entry p {
  color: rgb(84, 82, 82);
  font-size: 0.8125em; /* Replaced "13px" with "0.8125em" */
}

#plus-minus {
  font-size: 1.25em; /* Replaced "15px" with "1.25em" */
  font-weight: bold;
}

.column {
  flex: 1;
  text-align: center;
  color: rgb(84, 82, 82);
  font-size: 0.8125em; /* Replaced "13px" with "0.8125em" */
}

#total {
  margin-top: 1.875em; /* Replaced "30%" with "1.875em" */
  font-size: 1.25em; /* Replaced "20px" with "1.25em" */
  font-weight: bold;
  margin-left: 10%;
}

#final-price {
  margin-left: 10%;
}

.date {
  margin-left: 40%;
  color: rgb(84, 82, 82);
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 3%;
}

.list-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.625em; /* Replaced "10px" with "0.625em" */
  border-radius: 10px;
  width: 80%;
}

.list-name {
  font-size: 1.125em; /* Replaced "18px" with "1.125em" */
  font-weight: bold;
  color: #737067;
}

.list-price {
  font-size: 1em; /* Replaced "16px" with "1em" */
  color: #666;
}

.add-button {
  background-color: #ffda57;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.625em 1.25em; /* Replaced "10px" with "0.625em" and "20px" with "1.25em" */
  font-size: 1em; /* Replaced "16px" with "1em" */
  cursor: pointer;
  margin-top: 0.625em; /* Replaced "10px" with "0.625em" */
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #2474a8;
}

.error-container-order {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 10%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 20px;
  border: solid;
  border-color: rgb(197, 96, 96);
}

.error-message-order {
  text-align: center;
}

.arrow-container-order {
  font-size: 1.125em; /* Replaced "18px" with "1.125em" */
  color: #000;
  transition: color 0.3s ease;
  position: absolute;
  margin-left: 1%;
  top: 0.625em; /* Replaced "10px" with "0.625em" */
  left: 0.625em; /* Replaced "10px" with "0.625em" */
  z-index: 1;
}

.arrow-container-order:hover {
  color: #0056b3;
}

.arrow-container-order-sign {
  font-size: 1.125em; /* Replaced "18px" with "1.125em" */
  color: #000;
  transition: color 0.3s ease;
  position: absolute;
  margin-left: 10%;
  top: 0.625em; /* Replaced "10px" with "0.625em" */
  left: 0.625em; /* Replaced "10px" with "0.625em" */
  z-index: 1;
}

.arrow-container-order-sign:hover {
  color: #0056b3;
}

.account-icon {
  font-size: 1.125em; /* Replaced "18px" with "1.125em" */
  color: #000;
  transition: color 0.3s ease;
  position: absolute;
  margin-left: 42%;
  top: 0.625em; /* Replaced "10px" with "0.625em" */
  left: 0.625em; /* Replaced "10px" with "0.625em" */
  z-index: 1;
}

.account-icon:hover {
  color: #0056b3;
}

.menu {
  border: solid;
  font-size: 1.125em; /* Replaced "18px" with "1.125em" */
  color: white;
  transition: color 0.3s ease;
  position: absolute;
  margin-left: 42%;
  top: 0.625em; /* Replaced "10px" with "0.625em" */
  left: 0.625em; /* Replaced "10px" with "0.625em" */
  z-index: 1;
  background-color: #ffda57;
  border-radius: 10px;
}



