.main-container {
  width: 100%;
  height: 100vh;
}

.main-container {
  background-color: #ffda57;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 50%;
  justify-content: space-around;
  border-radius: 10px;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 25%;
  margin-top: 100px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 150px;
  border: none;
  background-color: #ffda57;
  border-radius: 10px;
  color: white;
}

.error-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 10%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 20px;
  border: solid;
  border-color: #8b2020;
}

.error-message {
  text-align: center;
  color: #000;
}

.exclamation-mark {
  color: red;
  font-size: 24px;
  margin-right: 10px;
}

.success-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 10%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 20px;
  border: solid;
  border-color: rgb(92, 196, 92);
}

.sucess-message {
  text-align: center;
}

.checkmark {
  color: green;
  font-size: 24px;
  margin-right: 10px;
}

.arrow-container {
  font-size: 24px;
  color: #000;
  transition: color 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.arrow-container:hover {
  color: #0056b3;
}
