/* .reset-main-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    margin-top: 5%;
}

.reset-container {
   
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    max-width: 400px; 
    gap: 20px; 

}

.form-reset {
    width: 50%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-container h1 { 
    margin-bottom: 20px; 
    font-size: 1.5em; 
    color: #ff7f50; 
    font-family: "Montserrat", sans-serif; 
  } 

.reset-container input { 
    padding: 10px; 
    font-size: 1em; 
    border: 2px solid #ffb347;  
    border-radius: 10px; 
    outline: none; 
    transition: border 0.3s, box-shadow 0.3s; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    width: 250px;
margin-bottom: 13%;
  } 
   
  .foreset-container input:focus { 
    border-color: #ff7f50; 
    box-shadow: 0 0 10px rgba(255, 127, 80, 0.5); 
  } 
   

.btn-reset {
    padding: 12px 20px; 
    background-color: #ff6347;
    color: #ffffff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    width: 150px; 
    font-size: 0.9em; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500 
}

.password {
    margin: 0; 
    width: 80%;
}

.success-container-reset {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 10%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 20px;
    border: solid;
    border-color: rgb(92, 196, 92);
  }
  
  .sucess-message-reset {
    text-align: center;
  }
  
  .checkmark-reset {
    color: green;
    font-size: 24px;
    margin-right: 10px;
  }
 */
