.reset-main-container {
    width: 100%;
    height: 100vh;
    background-color: #ffda57;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-container {
    width: 40%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-reset {
    width: 50%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.btn-reset {
    margin: 0;
    padding: 0;
    background-color: #ffda57;
}

.password {
    margin: 0; 
    width: 80%;
}

.success-container-reset {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 10%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 20px;
    border: solid;
    border-color: rgb(92, 196, 92);
  }
  
  .sucess-message-reset {
    text-align: center;
  }
  
  .checkmark-reset {
    color: green;
    font-size: 24px;
    margin-right: 10px;
  }

