.signup-main-container {
    width: 100%;
    height: 100vh;
    background-color: #ffda57;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    width: 40%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signup {
    width: 50%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.password-signup {
    margin: 0; /* Remove margin */
    width: 80%;
}

.btn-signup {
    margin-top: 30px; /* Add margin-top to the button */
    background-color: #ffda57;
    color: white;
    width: 40%;
    height: 20%;
    border: none;
    border-radius: 10px;
}


.success-container-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 10%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 20px;
    border: solid;
    border-color: rgb(92, 196, 92);
  }
  
  .sucess-message-signup {
    text-align: center;
  }
  
  .checkmark-signup {
    color: green;
    font-size: 24px;
    margin-right: 10px;
  }
